/* BlackJack styles */

body{
    background-color:#BDEDE0;
    margin: 0;
    padding: 0;
}

.menu-container,.div2,.header-container,.right-side,.left-side{
    background-color:#BDEDE0;
}



.game-container{
    background-color: #515052;
}

h6 {
    text-align: end;
    font-size: 12px;
}

.card-container-dealer{
    display: flex;
    justify-content: center;
    border-radius: 25px;
    border: 2px solid white;
    margin: auto;
    width: 34%;
    height: 100px;
}
.card-container-player{
    display: flex;
    justify-content: center;
    border-radius: 25px;
    border: 2px solid white;
    margin: auto;
    width: 34%;
    height:100px;
}

.player-card {
    height: 100px;
    width: 75px;
    transition: all 0.5s ease-in-out;
}

.player-card:hover {
    transform: translateY(5px);
    transition: all 0.5s ease-in-out;
  }

.dealer-card {
    height: 100px;
    width: 75px;
    transition: all 0.5s ease-in-out;
}

.dealer-card:hover {
    transform: translateY(5px);
    transition: all 0.5s ease-in-out;
  }

  .middle{
    display: flex;
    flex-direction: column;
}
  


h1 {
    text-align: center;
}
.card-option-container{
    display: flex;
    flex-direction: row-reverse;
 
}

.title {
    margin: 50px 0;
}

.ui {
    display: flex;
    justify-content: center;
}

.deal-btn {
    /* background-image: url(/assests/slot/bg2.jpg); */
    margin-right: 40px;
    padding: 10px;
    /* height: 100px; */
}

.hit{
    margin-right: 25px;
    padding: 15px;
    /* margin-bottom: 50px; */
}

.stand {
    margin-left: 25px;
}

button{
    color: whitesmoke;
    background-color: #ECBA82;
    border-radius: 25px;
    border: 2px solid white;
    border-radius: 50%;
    
}

button:hover{
    background-color: black;
    color: red;
  
}

button:disabled{
    background-color: whitesmoke;
    color: black;
}

.player-money {
    text-align: center;
    color: black
}
  
  /* Modal Content */
  .modal-content {
    display: none;
    background-color: #fefefe;
    z-index: 2;
    margin: auto;
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .grid {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 15% 1fr 25%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .menu-container { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 3 / 2 / 4; }
    .header-container { grid-area: 1 / 2 / 2 / 3; }
    .game-container { grid-area: 2 / 2 / 3 / 3; }
    .left-side { grid-area: 2 / 1 / 4 / 2; }
    .right-side { grid-area: 2 / 3 / 4 / 4; }
    .game-hud-container { grid-area: 3 / 2 / 4 / 3; }

   

    .grid{
        height: 70vh;
    }

    
    a {
        color: #ECBA82;
        margin-left: 10px;
        text-decoration: none;
    }

    a:hover{
        color: red
    }
    
    h4{
        color: white;
        text-align: center;
    }

    .game-board-bg{
        height: 100px;
    }