.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    /* height: 100vh; */
    }
    
    .div1 { grid-area: 1 / 2 / 2 / 4; }
    .div2 { grid-area: 1 / 1 / 6 / 2; }
    .div3 { grid-area: 1 / 4 / 6 / 5; }
    .div4 { grid-area: 2 / 2 / 6 / 4; }


h1 {
    text-align: center;
}

img{
    width: 150px;
}

.slot-reel-wrapper{
    display: flex;
    justify-content: center;
}


.logo-wrapper{
    text-align: center;
}

.slot-logo{
    text-align: center;
     width: 100px;
     height: 100px;
}

.spin-container {
    display:flex;
    justify-content: center;
    align-items: center;
}

.div1{
    background-color: red;
}

.div2{
    background-color: black;
}
.div3{
    background-color: black;
}