/* BlackJack styles */

body{
    background-color:white;
    /* margin: 0;
    padding: 0; */
    /* height: 100vh; */
}

.menu-container,.div2,.header-container,.right-side,.left-side{
    background-color:#F7EF99;
}



.game-container{
    background-color: #ABE188;
}

h6 {
    text-align: end;
    font-size: 12px;
}

.card-container-cpu{
    display: flex;
    justify-content: center;
    border-radius: 25px;
    border: 2px solid white;
    margin: auto;
    margin-top: 100px;
    width: 34%;
    height: 100px;
}
.card-container-player{
    display: flex;
    justify-content: center;
    border-radius: 25px;
    border: 2px solid white;
    margin: auto;
    width: 34%;
    height:100px;
}

.player-card {
    height: 100px;
    width: 75px;
    transition: all 0.5s ease-in-out;
}

.player-card:hover {
    transform: translateY(5px);
    transition: all 0.5s ease-in-out;
  }

.cpu-card {
    height: 100px;
    width: 75px;
    transition: all 0.5s ease-in-out;
}

.cpu-card:hover {
    transform: translateY(5px);
    transition: all 0.5s ease-in-out;
  }
  

.card-option {
    height: 100px;
    width: 75px;
    transition: all 0.5s ease-in-out;
}


h1 {
    text-align: center;
}
.card-option-container{
    display: flex;
    flex-direction: row-reverse;
 
}

.title {
    margin: 50px 0;
}

.ui {
    display: flex;
    justify-content: center;
}

.deal-btn {
    margin-right: 40px;
    padding: 10px;
}

.hit{
    margin-right: 25px;
    padding: 15px;
    /* margin-bottom: 50px; */
}

.stand {
    margin-left: 25px;
}

button{
    color: whitesmoke;
    background-color: #A41623;
    border-radius: 25px;
    border: 2px solid white;
    border-radius: 50%;
    
}

button:hover{
    background-color: black;
    color: red;
  
}

.player-money {
    text-align: center;
    color: black
}
  
  /* Modal Content */
  .modal-content {
    display: none;
    background-color: #fefefe;
    z-index: 1;
    margin: auto;
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .grid {
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: 15% 1fr 15%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .menu-container { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 3 / 2 / 4; }
    .header-container { grid-area: 1 / 2 / 2 / 3; }
    .game-container { grid-area: 2 / 2 / 3 / 3; }
    .left-side { grid-area: 2 / 1 / 4 / 2; }
    .right-side { grid-area: 2 / 3 / 4 / 4; }
    .game-hud-container { grid-area: 3 / 2 / 4 / 3; }

   

    .grid{
        height: 90vh;
    }